@{
    ViewData["Title"] = "Register";
}
@model Evator.ViewModels.RegisterViewModel

<style>
    h5
    {
        margin-top: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }
    hr
    {
        background-color:#707070;
        width: 40%;
    }
    img 
    {
        width:150px;
        height: 150px;
        border-top: 20px;
    }
    input
    {
        border: 1px solid #707070;
        margin-top: 5px;
        justify-content: center;
        padding: 2px 7px;
    }

    ::-webkit-input-placeholder 
    {
        color: #707070;
        opacity: 1; /* Firefox */
    }
</style>

<div class="container">
    <div class="text-center">
        <h5>Create A New Account!</h5>
        <hr>
        <img src="~/assets/accounts/defaultprofile.png">
    </div>
</div>

<div class="text-center" style="margin-bottom:25px">
    <form method="post" asp-controller="Home" asp-action="Register" asp-antiforgery="true" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-left" style="color:red"></div>
        <input type="hidden" asp-for="Role" value="3" />
        <input type="file" name="image" style="margin-bottom:10px;border:none;width:108px">
        <div>
            <input placeholder="Guest" disabled style="width: 250px;">
        </div>
        <div>
            <input asp-for="Name" placeholder="Full Name" style="width: 250px">
        </div>
        <div>
            <input asp-for="Agency" placeholder="Agency" style="width: 250px">
        </div>
        <div>
            <input asp-for="Email" placeholder="Email" style="width: 250px">
        </div>
        <div>
            <input asp-for="Password" placeholder="Password" type="password" style="width: 250px">
        </div>
        <div>
            <input asp-for="ConfirmPassword" placeholder="Retype your password" type="password" style="width: 250px">
        </div>
        <div>
            <a asp-controller="Home" asp-action="Index"><input type="button" value="Cancel" style="margin-top:10px;margin-right:10px"></a>
            <input type="submit" value="Confirm" style="margin-top:10px;margin-left:10px">
        </div>
    </form>
</div>